// footer
footer.footer
  .container 
    .footer__row 
      .footer__col 
        .footer__title Дон-медиа
        ul.footer__list 
          li 
            a(href="#") Информагентство «ДОН 24»
          li
            a(href="#") Телеканал «ДОН 24»
          li
            a(href="#") Радиостанция «ФМ-на Дону»
          li
            a(href="#") Газета «Молот»
          li
            a(href="#") Пресс-центр «ДОН-МЕДИА»
          li
            a(href="#") Карта сайта
          li
            a(href="#") Политика конфиденциальности и защиты информации
          li
            a(href="#") Закупки
          li
            a(href="#") Реклама в «ДОН-МЕДИА»
          li
            a(href="#") Раскрытие информации предприятия
      .footer__col 
        .footer__title Рубрики
        ul.footer__list 
          li 
            a(href="#") Общество
          li
            a(href="#") Происшествия
          li
            a(href="#") Экономика
          li
            a(href="#") Здоровье
          li
            a(href="#") Политика
          li
            a(href="#") Спорт
          li
            a(href="#") Транспорт
          li
            a(href="#") Культура
          li
            a(href="#") ЖКХ
          li
            a(href="#") Погода
          li
            a(href="#") Образование
          li
            a(href="#") Светская хроника
          li
            a(href="#") В стране и мире
          li
            a(href="#") Эксклюзивы
          li
            a(href="#") ТВ-новости
          li
            a(href="#") Лонгриды
      .footer__col 
        .footer__title Новости территорий
        ul.footer__list 
          li 
            a(href="#") Азов
          li
            a(href="#") Азовский район
          li
            a(href="#") Батайск
          li
            a(href="#") Белая Калитва
          li
            a(href="#") Гуково
          li
            a(href="#") Дубовский район
          li
            a(href="#") Мартыновский район
          li
            a(href="#") Морозовский район
          li
            a(href="#") Мясниковский район
          li
            a(href="#") Пролетарский район
          li
            a(href="#") Неклиновский район
          li
            a(href="#") Новочеркасские ведомости
          li
            a(href="#") Ремонтненский район
          li
            a(href="#") Сальск
          li
            a(href="#") Таганрог
          li
            a(href="#") Целинский район
      .footer__col 
        .footer__title Мы в соц. сетях
        .footer__social 
          .footer__social-row 
            a(href="#").footer__social-icon 
              svg(class="icon-vk")
                use(xlink:href="img/sprite.svg#vk")
            a(href="#").footer__social-icon 
              svg(class="icon-tw")
                use(xlink:href="img/sprite.svg#tw")
            a(href="#").footer__social-icon 
              svg(class="icon-ok")
                use(xlink:href="img/sprite.svg#ok")
            a(href="#").footer__social-icon 
              svg(class="icon-tg")
                use(xlink:href="img/sprite.svg#tg")
        .footer__title.footer__title--mb16 Мобильное приложение телеканала Дон24
        a(href="#").footer__btn 
          img(src="img/google-play.svg", alt="")
        .footer__title.footer__title--mb16 Алиса расскажет новости Дон24
        a(href="#").footer__btn 
          img(src="img/alisa.svg", alt="")

//	/footer

.scrollup
  svg(class="icon-arrow-up")
    use(xlink:href="img/sprite.svg#arrow-up")