// header
header.header#headerSticky

  .header__mobile 
    .container 

      a(href="#").header__logo 
        img(src="img/logo.svg", alt="")

      .header__mobile-burger 
        .hamburger.hamburger--squeeze.js-drop-btn(data-drop="mobileMenu")
          .hamburger-box
            .hamburger-inner
        

  .header__container#mobileMenu
  
    .header__top 
      .container 

        ul.header__menu 
          li.header__menu-item.header__menu-item--submenu 
            a(href="#").header__menu-link Газета «Молот»
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.header__submenu 
              li.header__submenu-item 
                a(href="#").header__submenu-link ПРЯМОЙ ЭФИР
              li.header__submenu-item 
                a(href="#").header__submenu-link новости
              li.header__submenu-item 
                a(href="#").header__submenu-link программы
              li.header__submenu-item 
                a(href="#").header__submenu-link о телеканале
          li.header__menu-item.header__menu-item--submenu 
            a(href="#").header__menu-link Радио «ФМ-Н»
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.header__submenu 
              li.header__submenu-item 
                a(href="#").header__submenu-link ПРЯМОЙ ЭФИР
              li.header__submenu-item 
                a(href="#").header__submenu-link новости
              li.header__submenu-item 
                a(href="#").header__submenu-link программы
              li.header__submenu-item 
                a(href="#").header__submenu-link о телеканале
          li.header__menu-item.header__menu-item--submenu 
            a(href="#").header__menu-link Телеканал «Дон24»
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.header__submenu 
              li.header__submenu-item 
                a(href="#").header__submenu-link ПРЯМОЙ ЭФИР
              li.header__submenu-item 
                a(href="#").header__submenu-link новости
              li.header__submenu-item 
                a(href="#").header__submenu-link программы
              li.header__submenu-item 
                a(href="#").header__submenu-link о телеканале
          li.header__menu-item.header__menu-item--submenu 
            a(href="#").header__menu-link ИА «Дон24»
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.header__submenu 
              li.header__submenu-item 
                a(href="#").header__submenu-link ПРЯМОЙ ЭФИР
              li.header__submenu-item 
                a(href="#").header__submenu-link новости
              li.header__submenu-item 
                a(href="#").header__submenu-link программы
              li.header__submenu-item 
                a(href="#").header__submenu-link о телеканале
          li.header__menu-item.header__menu-item--submenu 
            a(href="#").header__menu-link Пресс-Центр «Дон-Медиа»
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.header__submenu 
              li.header__submenu-item 
                a(href="#").header__submenu-link ПРЯМОЙ ЭФИР
              li.header__submenu-item 
                a(href="#").header__submenu-link новости
              li.header__submenu-item 
                a(href="#").header__submenu-link программы
              li.header__submenu-item 
                a(href="#").header__submenu-link о телеканале
          li.header__menu-item
            a(href="#").header__menu-link Реклама 

        .header__viewsite 
          .header__theme-switch 
            svg(class="icon-switch-nigth")
              use(xlink:href="img/sprite.svg#switch-nigth")
          .header__eye 
            svg(class="icon-eye")
              use(xlink:href="img/sprite.svg#eye")
      
    .header__middle 
      .container 

        a(href="#").header__logo 
          img(src="img/logo.svg", alt="")

        .header__banner
          img(src="img/header_banner.jpg", alt="") 

        .header__social 
          ul 
            li 
              a(href="#") 
                svg(class="icon-fb")
                  use(xlink:href="img/sprite.svg#fb")
            li 
              a(href="#") 
                svg(class="icon-vk")
                  use(xlink:href="img/sprite.svg#vk")
            li 
              a(href="#")
                svg(class="icon-tw")
                  use(xlink:href="img/sprite.svg#tw")
            li 
              a(href="#")
                svg(class="icon-insta")
                  use(xlink:href="img/sprite.svg#insta")
            li 
              a(href="#")
                svg(class="icon-ok")
                  use(xlink:href="img/sprite.svg#ok")
            li 
              a(href="#")
                svg(class="icon-yt")
                  use(xlink:href="img/sprite.svg#yt")

    .header__bottom
      .container 

        .header__burger 
          .hamburger.hamburger--squeeze.js-drop-btn(data-drop="headerMenu")
            .hamburger-box
              .hamburger-inner
        
        nav.header__nav 
          ul.header__pagemenu 
            li.header__pagemenu-item 
              a(href="#").header__pagemenu-link Главная
            li.header__pagemenu-item 
              a(href="#").header__pagemenu-link Новости 
            li.header__pagemenu-item 
              a(href="#").header__pagemenu-link погода
            li.header__pagemenu-item 
              a(href="#").header__pagemenu-link 
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_1402_127" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="1" y="0" width="24" height="26">
                    <path d="M13 0L24.2583 6.5V19.5L13 26L1.74167 19.5V6.5L13 0Z" fill="#C4C4C4"/>
                  </mask>
                  <g mask="url(#mask0_1402_127)">
                    <rect x="0.764801" width="23.7059" height="8.66667" fill="#123AA0"/>
                    <rect x="0.764771" y="8.66675" width="23.7059" height="8.66667" fill="#F7E04F"/>
                    <rect x="0.764771" y="17.3333" width="23.7059" height="8.66667" fill="#E93F25"/>
                  </g>
                </svg>
                |сделаем вместе
            li.header__pagemenu-item 
              a(href="#").header__pagemenu-link 
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_1402_133" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="1" y="0" width="24" height="26">
                    <path d="M13 0L24.2583 6.5V19.5L13 26L1.74167 19.5V6.5L13 0Z" fill="#C4C4C4"/>
                  </mask>
                  <g mask="url(#mask0_1402_133)">
                    <rect x="0.764801" width="23.7059" height="8.66667" fill="#EAEAEA"/>
                    <rect x="0.764771" y="8.66675" width="23.7059" height="8.66667" fill="#2053AE"/>
                    <rect x="0.764771" y="17.3333" width="23.7059" height="8.66667" fill="#E93F25"/>
                  </g>
                </svg>
                |нацпроекты

        form(action="#").header__search 
          .header__search-input 
            input(type="text" placeholder="Поиск по сайту")
          button(type="submit").header__search-btn 
            svg(class="icon-zoom")
              use(xlink:href="img/sprite.svg#zoom")


    .container 
      .header__drop#headerMenu
        .row.gy-3 
          .col-lg-4 
            .header__drop-title Заголовок
            ul.header__drop-list 
              li 
                a(href="#") Рубрика 1
              li 
                a(href="#") Рубрика 2
              li 
                a(href="#") Рубрика 3
              li 
                a(href="#") Рубрика 4
              li 
                a(href="#") Рубрика 5
              li 
                a(href="#") Рубрика 6
              li 
                a(href="#") Рубрика 7
            .header__drop-title Заголовок
            ul.header__drop-list 
              li 
                a(href="#") Рубрика 1
              li 
                a(href="#") Рубрика 2
              li 
                a(href="#") Рубрика 3
              li 
                a(href="#") Рубрика 4
              li 
                a(href="#") Рубрика 5
          .col-lg-4 
            .header__drop-title Заголовок
            ul.header__drop-list 
              li 
                a(href="#") Рубрика 1
              li 
                a(href="#") Рубрика 2
              li 
                a(href="#") Рубрика 3
              li 
                a(href="#") Рубрика 4
              li 
                a(href="#") Рубрика 5
            .header__drop-title Заголовок
            ul.header__drop-list 
              li 
                a(href="#") Рубрика 1
              li 
                a(href="#") Рубрика 2
              li 
                a(href="#") Рубрика 3
              li 
                a(href="#") Рубрика 4
              li 
                a(href="#") Рубрика 5
              li 
                a(href="#") Рубрика 6
              li 
                a(href="#") Рубрика 7
              li 
                a(href="#") Рубрика 8
          .col-lg-4 
            .header__drop-title Заголовок
            ul.header__drop-list 
              li 
                a(href="#") Рубрика 1
              li 
                a(href="#") Рубрика 2
            .header__drop-title Заголовок
            ul.header__drop-list 
              li 
                a(href="#") Рубрика 1
              li 
                a(href="#") Рубрика 2
              li 
                a(href="#") Рубрика 3
              li 
                a(href="#") Рубрика 4
              li 
                a(href="#") Рубрика 5
            .header__drop-title Заголовок
            ul.header__drop-list 
              li 
                a(href="#") Рубрика 1
              li 
                a(href="#") Рубрика 2
              li 
                a(href="#") Рубрика 3
//	/header