// header
header.header

  .header__mobile 

  .header__container 
  
    .header__top 
      .container 

        ul.header__menu 
          li.header__menu-item.header__menu-item--submenu 
            a(href="#").header__menu-link Газета «Молот»
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.header__submenu 
              li.header__submenu-item 
                a(href="#").header__submenu-link ПРЯМОЙ ЭФИР
              li.header__submenu-item 
                a(href="#").header__submenu-link новости
              li.header__submenu-item 
                a(href="#").header__submenu-link программы
              li.header__submenu-item 
                a(href="#").header__submenu-link о телеканале
          li.header__menu-item.header__menu-item--submenu 
            a(href="#").header__menu-link Радио «ФМ-Н»
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.header__submenu 
              li.header__submenu-item 
                a(href="#").header__submenu-link ПРЯМОЙ ЭФИР
              li.header__submenu-item 
                a(href="#").header__submenu-link новости
              li.header__submenu-item 
                a(href="#").header__submenu-link программы
              li.header__submenu-item 
                a(href="#").header__submenu-link о телеканале
          li.header__menu-item.header__menu-item--submenu 
            a(href="#").header__menu-link Телеканал «Дон24»
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.header__submenu 
              li.header__submenu-item 
                a(href="#").header__submenu-link ПРЯМОЙ ЭФИР
              li.header__submenu-item 
                a(href="#").header__submenu-link новости
              li.header__submenu-item 
                a(href="#").header__submenu-link программы
              li.header__submenu-item 
                a(href="#").header__submenu-link о телеканале
          li.header__menu-item.header__menu-item--submenu 
            a(href="#").header__menu-link ИА «Дон24»
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.header__submenu 
              li.header__submenu-item 
                a(href="#").header__submenu-link ПРЯМОЙ ЭФИР
              li.header__submenu-item 
                a(href="#").header__submenu-link новости
              li.header__submenu-item 
                a(href="#").header__submenu-link программы
              li.header__submenu-item 
                a(href="#").header__submenu-link о телеканале
          li.header__menu-item.header__menu-item--submenu 
            a(href="#").header__menu-link Пресс-Центр «Дон-Медиа»
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            ul.header__submenu 
              li.header__submenu-item 
                a(href="#").header__submenu-link ПРЯМОЙ ЭФИР
              li.header__submenu-item 
                a(href="#").header__submenu-link новости
              li.header__submenu-item 
                a(href="#").header__submenu-link программы
              li.header__submenu-item 
                a(href="#").header__submenu-link о телеканале
          li.header__menu-item
            a(href="#").header__menu-link Реклама 

        .header__viewsite 
          .header__theme-switch 
            svg(class="icon-switch-nigth")
              use(xlink:href="img/sprite.svg#switch-nigth")
          .header__eye 
            svg(class="icon-eye")
              use(xlink:href="img/sprite.svg#eye")
      
    .header__middle 
      .container 

        a(href="#").header__logo 
          img(src="img/logo.svg", alt="")

        .header__banner
          img(src="img/header_banner.jpg", alt="") 

        .header__social 
          ul 
            li 
              a(href="#") 
                svg(class="icon-fb")
                  use(xlink:href="img/sprite.svg#fb")
            li 
              a(href="#") 
                svg(class="icon-vk")
                  use(xlink:href="img/sprite.svg#vk")
            li 
              a(href="#")
                svg(class="icon-tw")
                  use(xlink:href="img/sprite.svg#tw")
            li 
              a(href="#")
                svg(class="icon-insta")
                  use(xlink:href="img/sprite.svg#insta")
            li 
              a(href="#")
                svg(class="icon-ok")
                  use(xlink:href="img/sprite.svg#ok")
            li 
              a(href="#")
                svg(class="icon-yt")
                  use(xlink:href="img/sprite.svg#yt")

    .header__bottom 
      .container 

        .header__burger 
        
        nav.header__nav 

        .header__search 

//	/header