extends core/base.pug

block title 
  title Главная

block content

  .page

    include core/header.pug

    .content 

      // main
      main.main
        .container 
          .row.gy-3

            .col-lg-12

              // popular
              .popular
              
                .popular__sticker самое читаемое
                
                .row.g-0.gy-3

                  .popular__col.col-lg.col-md-6
                    a(href="#").popular__item 
                      .popular__title Ливни и похолодание надвигаются на Ростов
                      .popular__looked 
                        svg(class="icon-eye-fill")
                          use(xlink:href="img/sprite.svg#eye-fill")
                        | 13297
                      
                  .popular__col.col-lg.col-md-6
                    a(href="#").popular__item 
                      .popular__title Виновник ДТП погиб: под Ростовом легковушка выехала на встречку 
                      .popular__looked 
                        svg(class="icon-eye-fill")
                          use(xlink:href="img/sprite.svg#eye-fill")
                        | 13297
                  
                  .popular__col.col-lg.col-md-6
                    a(href="#").popular__item 
                      .popular__title Ливни и похолодание надвигаются на Ростов
                      .popular__looked 
                        svg(class="icon-eye-fill")
                          use(xlink:href="img/sprite.svg#eye-fill")
                        | 13297

                  .popular__col.col-lg.col-md-6
                    a(href="#").popular__item 
                      .popular__title Виновник ДТП погиб: под Ростовом легковушка выехала на встречку 
                      .popular__looked 
                        svg(class="icon-eye-fill")
                          use(xlink:href="img/sprite.svg#eye-fill")
                        | 13297

                  .popular__col.col-lg.col-md-6
                    a(href="#").popular__item 
                      .popular__title Ливни и похолодание надвигаются на Ростов
                      .popular__looked 
                        svg(class="icon-eye-fill")
                          use(xlink:href="img/sprite.svg#eye-fill")
                        | 13297
              // /popular

            .col-lg-8 

              // main-news
              a(href="#").main-news
                .main-news__img
                  img(src="img/main-news.jpg", alt="")
                .main-news__stickers 
                  .main-news__sticker.main-news__sticker--main главная новость
                  .main-news__sticker.main-news__sticker--health здоровье
                .main-news__content 
                  .main-news__title Жители Дона сдали более 200 литров крови во Всемирный день донора
                  .main-news__date 
                    svg(class="icon-date-fill")
                      use(xlink:href="img/sprite.svg#date-fill")
                    | 15.06.2022
                  .main-news__place Новошахтинск
              // /main-news

              mixin newsblock(title, dopClass)

                // newsblock
                .newsblock(class= dopClass)

                  .newsblock__title= title

                  .row.gy-3

                    .col-md-6 
                      a(href="#").newsblock__item   
                        .newsblock__img 
                          img(src="img/newsblock-1.jpg", alt="")
                        .newsblock__content 
                          .newsblock__sticker Новошахтинск
                          .newsblock__subtitle Две опасные детские игровые площадки отремонтируют в Ростовской области по
                          .newsblock__date 
                            svg(class="icon-date-fill")
                              use(xlink:href="img/sprite.svg#date-fill")
                            | 15.06.2022

                    .col-md-6 
                      a(href="#").newsblock__item   
                        .newsblock__img 
                          img(src="img/newsblock-2.jpg", alt="")
                        .newsblock__content 
                          .newsblock__sticker Новошахтинск
                          .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                          .newsblock__date 
                            svg(class="icon-date-fill")
                              use(xlink:href="img/sprite.svg#date-fill")
                            | 15.06.2022
                    
                    .col-md-6 
                      a(href="#").newsblock__item   
                        .newsblock__img 
                          img(src="img/newsblock-2.jpg", alt="")
                        .newsblock__content 
                          .newsblock__sticker Новошахтинск
                          .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                          .newsblock__date 
                            svg(class="icon-date-fill")
                              use(xlink:href="img/sprite.svg#date-fill")
                            | 15.06.2022
                    
                    .col-md-6 
                      a(href="#").newsblock__item   
                        .newsblock__img 
                          img(src="img/newsblock-3.jpg", alt="")
                        .newsblock__content 
                          .newsblock__sticker Новошахтинск
                          .newsblock__subtitle Глазастый и редкий: в центре Ростова обнаружили краснокнижную птицу
                          .newsblock__date 
                            svg(class="icon-date-fill")
                              use(xlink:href="img/sprite.svg#date-fill")
                            | 15.06.2022
                // /newsblock

              +newsblock('ОБЩЕСТВО')

              +newsblock('ЭКОНОМИКА', 'newsblock--mb8')

              // banner-big
              .banner-big
                img(src="img/banner-big.jpg", alt="")
              // /banner-big

              +newsblock('ПОЛИТИКА')
              
              +newsblock('СПОРТ')

              +newsblock('ЭКОНОМИКА', 'newsblock--mb8')

            .col-lg-4 

              // newsitems
              .newsitems
                .row.gy-3 

                  .col-lg-12.col-md-6 
                    a(href="#").newsitems__item.newsitems__item--additionaly
                      .newsitems__title 
                        svg(class="icon-lightning")
                          use(xlink:href="img/sprite.svg#lightning")
                        | В Москве задержали банду телефонных мошенников, обманывавших пенсионеров
                      .newsitems__info новость дополняется
                  
                  mixin newsitemsItem()
                    .col-lg-12.col-md-6 
                      a(href="#").newsitems__item 
                        .newsitems__title В Москве задержали банду телефонных мошенников, обманывавших пенсионеров
                        .newsitems__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | Сегодня в 09:00
                        .newsitems__sticker Новошахтинск
                  
                  +newsitemsItem

                  +newsitemsItem

                  +newsitemsItem
                  
                  +newsitemsItem
                  
              // /newsitems

              // banner-small
              .banner-small
                img(src="img/banner-small.jpg", alt="")
              // /banner-small

              // newsitems
              .newsitems
                .row.gy-3 
                  
                  +newsitemsItem

                  +newsitemsItem

                  +newsitemsItem
                  
                  +newsitemsItem

                  +newsitemsItem

                  +newsitemsItem

                  +newsitemsItem
                  
                  +newsitemsItem

                  +newsitemsItem

                  +newsitemsItem

                  +newsitemsItem
                  
                  +newsitemsItem

                  +newsitemsItem

                .row.mt-3
                  .col-lg-12.col-md-6
                    a(href="#").newsitems__more Посмотреть еще
                      svg(class="icon-arrow-right")
                        use(xlink:href="img/sprite.svg#arrow-right")
                      
              // /newsitems

      // /main

      // social
      .social
        .container 
          .social__title 
            span Мы в социальных сетях
          .social__text Хотите получать еще больше полезной инфомации? Подписывайтесь на нас в соцсетях! 
          .social__icons 
            .social__icons-row 
              a(href="#").social__icon 
                svg(class="icon-fb")
                  use(xlink:href="img/sprite.svg#fb")
              a(href="#").social__icon 
                svg(class="icon-vk")
                  use(xlink:href="img/sprite.svg#vk")
              a(href="#").social__icon 
                svg(class="icon-tw")
                  use(xlink:href="img/sprite.svg#tw")
              a(href="#").social__icon 
                svg(class="icon-insta")
                  use(xlink:href="img/sprite.svg#insta")
              a(href="#").social__icon 
                svg(class="icon-ok")
                  use(xlink:href="img/sprite.svg#ok")
              a(href="#").social__icon 
                svg(class="icon-yt")
                  use(xlink:href="img/sprite.svg#yt")
      // /social

    include core/footer.pug
