extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // main
      main.main
        .container 
          .row.gy-3

            .col-lg-12

              // popular
              .popular
              
                .popular__sticker самое читаемое
                
                .row.g-0

                  .col 
                    a(href="#").popular__item 
                      .popular__title Ливни и похолодание надвигаются на Ростов
                      .popular__looked 
                        svg(class="icon-eye-fill")
                          use(xlink:href="img/sprite.svg#eye-fill")
                        | 13297
                      
                  .col 
                    a(href="#").popular__item 
                      .popular__title Виновник ДТП погиб: под Ростовом легковушка выехала на встречку 
                      .popular__looked 
                        svg(class="icon-eye-fill")
                          use(xlink:href="img/sprite.svg#eye-fill")
                        | 13297
                  
                  .col 
                    a(href="#").popular__item 
                      .popular__title Ливни и похолодание надвигаются на Ростов
                      .popular__looked 
                        svg(class="icon-eye-fill")
                          use(xlink:href="img/sprite.svg#eye-fill")
                        | 13297

                  .col 
                    a(href="#").popular__item 
                      .popular__title Виновник ДТП погиб: под Ростовом легковушка выехала на встречку 
                      .popular__looked 
                        svg(class="icon-eye-fill")
                          use(xlink:href="img/sprite.svg#eye-fill")
                        | 13297

                  .col 
                    a(href="#").popular__item 
                      .popular__title Ливни и похолодание надвигаются на Ростов
                      .popular__looked 
                        svg(class="icon-eye-fill")
                          use(xlink:href="img/sprite.svg#eye-fill")
                        | 13297
              // /popular

            .col-lg-8 

              // main-news
              a(href="#").main-news
                .main-news__img
                  img(src="img/main-news.jpg", alt="")
                .main-news__stickers 
                  .main-news__sticker.main-news__sticker--main главная новость
                  .main-news__sticker.main-news__sticker--health здоровье
                .main-news__content 
                  .main-news__title Жители Дона сдали более 200 литров крови во Всемирный день донора
                  .main-news__date 
                    svg(class="icon-date-fill")
                      use(xlink:href="img/sprite.svg#date-fill")
                    | 15.06.2022
                  .main-news__place Новошахтинск
              // /main-news

              // newsblock
              .newsblock

                .newsblock__title ОБЩЕСТВО

                .row.gy-3

                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-1.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Две опасные детские игровые площадки отремонтируют в Ростовской области по
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022

                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-2.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
                  
                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-2.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
                  
                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-3.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Глазастый и редкий: в центре Ростова обнаружили краснокнижную птицу
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
              // /newsblock

              // newsblock
              .newsblock.newsblock--mb8

                .newsblock__title ЭКОНОМИКА

                .row.gy-3

                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-1.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Две опасные детские игровые площадки отремонтируют в Ростовской области по
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022

                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-2.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
                  
                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-2.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
                  
                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-3.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Глазастый и редкий: в центре Ростова обнаружили краснокнижную птицу
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
              // /newsblock

              // banner-big
              .banner-big
                img(src="img/banner-big.jpg", alt="")
              // /banner-big

              // newsblock
              .newsblock

                .newsblock__title ПОЛИТИКА

                .row.gy-3

                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-1.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Две опасные детские игровые площадки отремонтируют в Ростовской области по
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022

                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-2.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
                  
                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-2.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
                  
                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-3.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Глазастый и редкий: в центре Ростова обнаружили краснокнижную птицу
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
              // /newsblock

              // newsblock
              .newsblock

                .newsblock__title СПОРТ

                .row.gy-3

                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-1.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Две опасные детские игровые площадки отремонтируют в Ростовской области по
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022

                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-2.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
                  
                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-2.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
                  
                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-3.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Глазастый и редкий: в центре Ростова обнаружили краснокнижную птицу
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
              // /newsblock

              // newsblock
              .newsblock

                .newsblock__title ПОЛИТИКА

                .row.gy-3

                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-1.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Две опасные детские игровые площадки отремонтируют в Ростовской области по
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022

                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-2.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
                  
                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-2.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Ордена Мужества вручили в Каменске родственникам погибших на Украине военных
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
                  
                  .col-lg-6 
                    a(href="#").newsblock__item   
                      .newsblock__img 
                        img(src="img/newsblock-3.jpg", alt="")
                      .newsblock__content 
                        .newsblock__sticker Новошахтинск
                        .newsblock__subtitle Глазастый и редкий: в центре Ростова обнаружили краснокнижную птицу
                        .newsblock__date 
                          svg(class="icon-date-fill")
                            use(xlink:href="img/sprite.svg#date-fill")
                          | 15.06.2022
              // /newsblock

            .col-lg-4 

      // /main

    include core/footer.pug
