extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .page 

    include core/header.pug

    .content 
      .container 

        .navpage 
          .wrapper
            h1 
            ul 
              li 
                a(href="home.html") Главная
              li 
                a(href="category.html") Категория

    include core/footer.pug
