/* main-news */
.main-news { 
  display: block;
  position: relative;
  margin-bottom: 54px;
  &__img {
    position: relative;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      transition: 0.3s;
    }
    &:after {
      content: '';
      display: block;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 1.53%, rgba(0, 0, 0, 0) 100.75%);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &__stickers {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  &__sticker {
    padding: 6px 8px 5px;
    color: #fff;
    &--main {
      background-color: $secondaryColor;
    }
    &--health {
      background: #A99280;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 29px 32px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  &__title {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
    margin-bottom: 14px;
    &:hover {
      text-decoration: none;
    }
  }
  &__date {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    fill: #fff;
    stroke: #fff;
    svg {
      width: 16px;
      height: 16px;
      margin-right: 7px;
    }
  }
  &__place {
    padding: 6px 8px 5px;
    margin-left: 57px;
    background-color: #fff;
    font-weight: 700;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $textColor;
  }
  &:hover {
    .main-news__img {
      img {
        transform: scale(1.05);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
    &__content {
      padding: 15px 10px;
    }
  }
}
/* /main-news */